#nav-1 .nav-bar {
  height: 5rem;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 15px;
  left: 10%;
  z-index: 1000;
  border-radius: 15px;
}

#nav-1 img {
  height: 35%;
  width: auto;
  position: absolute;
  top: 32.5%;
  left: 12px;
}

.nav-bar .apply-btn {
  height: 3.7rem;
  width: 12.25rem;
  padding: auto 25px;
  position: absolute;
  top: 11.5%;
  right: 17px;
  box-shadow: none;
}
/* 
.nav-bar .apply-btn .logo-img {
  height: 1.9rem; 
  position: absoulte; 
  top: 13px; 
  left: 25px;
} */

#nav-2 {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

#nav-2 .nav-bar {
  height: 4.4rem;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0px;
  left: 100%;
}

#nav-2 .nav-bar img {
  height: 75%;
  margin-left: 14px;
  margin-top: 7px;
  position: sticky;
}

#nav-2 .nav-bar .nav-menu {
  font-size: 1.5rem;
  position: absolute;
  top: 22.5px;
  right: 32.5px;
}

#nav-3 .nav-bar, #nav-4 .nav-bar {
  height: 5rem;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 15px;
  left: 10%;
  z-index: 1000;
  border-radius: 15px;
}

#nav-3 .nav-bar img {
  height: 35%;
  width: auto;
  position: absolute;
  top: 32.5%;
  left: 12px;
}

#nav-3 .nav-bar .nav-list, #nav-4 .nav-bar .nav-list {
  list-style: none;
  display: flex;
  width: 26.5rem;
  justify-content: space-evenly;
  font-size: 1.125rem;
  font-weight: 400;
  color: rgb(61, 60, 60);
  position: absolute;
  top: 10px;
  right: 13.2rem;
  height: 4rem;
  margin-top: 0px;
  padding-top: 18px;
}

#nav-3 .nav-bar .nav-list .nav-items:hover, #nav-4 .nav-bar .nav-list .nav-items:hover{
/* border-top: 4px solid pink; */
padding-top: 0.75rem;
margin-top: -1rem;
color:rgb(253, 34, 136);
}

#nav-3 .nav-bar .nav-list .nav-items:active, #nav-3 .nav-bar .nav-list .nav-items:active {
  border-top: 4px solid rgb(253, 34, 136);
  padding-top: 0.75rem;
  margin-top: 0rem;
  color:pink;
  }

#nav-4{
  position: absolute;
  height:5rem;
  width: 100%;
  background-color: white;
  z-index: 1000;
} 

#nav-4 .nav-bar {
  margin-top: -15px
}

#nav-4 .nav-bar img {
  height: 35%;
  width: auto;
  position: absolute;
  top: 26.5%;
  left: 12px;
}
