#partners {
    background-color:rgb(244, 244, 244);
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.partner-heading h2{
    font-size: 6rem;
    text-align: center;
}

#partners .content {
    /* background-color: rgb(192, 192, 229); */
    margin: auto;
    height: auto;
    width: 85%;
    margin-left: 7.5%;
    padding: 0px;
    text-align: center;
    /* margin-left: 12.5%; */
}



.content #partner-links {
    /* background-color: pink; */
    margin-top: -2rem;
    height: 70%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
    /* align-items: center; */
}

.half {
    width: 47%;
    min-width: 300px;
}

.oneThird {
    width: 30%;
    min-width: 200px;
}

.oneForth {
    width: 22.5%;
    min-width: 135px;
}

.partner-img{
    display: flex;
    background-color: #FFF;
    border-radius: 10px;
    height: auto;
    padding: 1rem;
    /* min-width: 0px; */
    max-width: 80%;
    min-height: 150px;
    max-height: 200px;

}
.partner-img img {  
    height: auto;
    width: 70%;
    max-width: 150px;
    margin: auto;
    /* align-items: center; */
}


#partner p{
    text-align: center;
}